@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

.card-list {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;

    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    transition: .2s;
     
}